<#include "Config.html" />
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="${domain}${request.contextPath}/css/style.css?version=${version}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="${domain}${request.contextPath}/js/flexible.js?version=${version}"></script>
<script type="text/javascript" src="${domain}${request.contextPath}/js/zepto.min.js?version=${version}"></script>
<script type="text/javascript" src="${domain}${request.contextPath}/js/fastclick.js?version=${version}"></script>
<script type="text/javascript" src="${domain}${request.contextPath}/js/public.js?version=${version}"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<title>微信停车缴费系统</title>
